# fly.toml app configuration file generated for community-core-api on 2024-12-30T02:54:25Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'community-core-api'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = false
  min_machines_running = 0
  processes = ['app']
  [http_service.concurrency]
    type = "requests"
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 2
  memory_mb = 512
